<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="imagen"></ion-img>
  <ion-fab vertical="bottom" horizontal="end" >
    <ion-fab-button (click)="Addshow()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<!-- <ion-list>
<ion-item-sliding *ngFor="let lista of listaregist">
  <ion-item >{{lista.modelo}}</ion-item>
  <ion-item-options>
    <ion-item-option color="danger"> excluir

    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>


</ion-list>
 -->

<!-- test -->
<ion-list>
  <ion-item-sliding *ngFor= "let registro of listaregist" >
    <ion-item>  {{registro.modelo}}  </ion-item>
    <ion-item-options>
    <ion-item-option color="danger" > 
      excluir
    </ion-item-option> 
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<!-- final tst -->


<!--  -->


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>davi@2020</ion-title>
  </ion-toolbar>
</ion-footer>